@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bubbler+One&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --dark-color: #343a40;
  --light-color: #f8f9fa;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  font-family: Inter, "sans-serif";
}

/* Default nav styles */
.nav-link {
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Hover effect */
.nav-link:hover {
  color: var(--dark-color) !important;
  /* font-weight: bold; */
}

/* Active state with animation */
.nav-link.active {
  color: var(--dark-color) !important;
  font-weight: bold;
  transform: scale(1.05) !important; /* Slight scaling */
  transition: all 0.3s ease-in-out;
}

.menu-container {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.menu-container.show {
  transform: translateX(0);
}

.header {
  transition: transform 0.3s ease-in-out;
}
.hidden {
  transform: translateY(-100%);
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit !important;
}

.half-pink {
  background: linear-gradient(to bottom, white 50%, #f7b79c 50%);
}

.scroll-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: calc(100% / 4 - 16px);
  min-width: 160px;
}
@media (max-width: 768px) {
  .card {
    width: calc(100% / 2 - 16px);
    /* width: 50px; */
  }
}

.swiper {
  width: 100%;
}

.diamond-card {
  width: 240px;
  /* border-radius: 5px; */
  overflow: hidden;
  /* padding: 15px; */
  text-align: center;
}

.diamond-card img {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 200px;

  .swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-wrapper {
    height: 400px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .card-desc {
    font-size: 14px;
  }

  .swiper1 {
    width: 100%;
    height: 500px;
  }

  .swiper1 .swiper-wrapper {
    display: flex;
    align-items: center;
    overflow: visible; /* Prevent clipping */
  }

  .swiper1 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
  }

  /* Scale up the active slide */
  .swiper1 .swiper-slide-active {
    transform: scale(2); /* 2x bigger */
    z-index: 10;
  }

  /* Ensure the image fills its container */
  .swiper1 .swiper-slide img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

  .hero-section {
    /* position: relative; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .rings-container {
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 1000px;
  }

  .ring {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transform-style: preserve-3d;
  }

  .ring::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .ring::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .ring.active {
    transform: translateY(50%) translateX(250%) scale(2);

    /* transform: translateY(-50px) scale(1.5); */
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateX(0%) translateY(200%) translateZ(-100px) scale(0.8);

    /* transform: translateX(-200px) translateZ(-100px) scale(0.8); */
    opacity: 0.7;
  }

  .ring.right {
    transform: translateX(500%) translateY(200%) translateZ(-100px) scale(0.8);

    /* transform: translateX(200px) translateZ(-100px) scale(0.8); */
    opacity: 0.7;
  }

  .ring-content {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  .active .ring-content {
    font-size: 1.5rem;
  }
}
.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.rings-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.ring {
  position: absolute;
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: 100;
}

.ring.active {
  transform: translateY(-50%) translateX(325%) scale(1.6);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.ring.left {
  transform: translateY(50%) translateX(-50%) translateZ(-100px) scale(1);
  opacity: 0.7;
}

.ring.left h1 {
  opacity: 0;
}

.ring.left .ring-des {
  opacity: 0;
}

.ring.right {
  transform: translateY(50%) translateX(700%) translateZ(-100px) scale(1);
  opacity: 0.7;
}

.ring.right h1 {
  opacity: 0;
}

.ring.right .ring-des {
  opacity: 0;
}

.ring-off {
  font-size: 12px;
}

/* Media Query for max-width: 768px */
@media (max-width: 1400px) {
  .ring.active {
    transform: translateY(-10%) translateX(275%) scale(1.4);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(65%) translateX(-50%) translateZ(-100px) scale(0.9);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(75%) translateX(600%) translateZ(-225px) scale(0.9);
    opacity: 0.7;
  }
}

@media (max-width: 1200px) {
  .hero-section {
    height: 50vh;
  }

  .ring.active {
    transform: translateY(0%) translateX(210%) scale(1.4);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(20%) translateX(-50%) translateZ(-100px) scale(0.8);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(40%) translateX(475%) translateZ(-225px) scale(0.8);
    opacity: 0.7;
  }
}

@media (max-width: 1000px) {
  .ring.active {
    transform: translateY(10%) translateX(170%) scale(1.4);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(20%) translateX(-60%) translateZ(-100px) scale(0.7);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(40%) translateX(400%) translateZ(-225px) scale(0.7);
    opacity: 0.7;
  }
}

@media (max-width: 900px) {
  .ring.active {
    transform: translateY(40%) translateX(150%) scale(1.4);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(20%) translateX(-25%) translateZ(-100px) scale(0.7);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(40%) translateX(350%) translateZ(-225px) scale(0.7);
    opacity: 0.7;
  }
}

@media (max-width: 768px) {
  .ring.active {
    transform: translateY(20%) translateX(100%) scale(1.25);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(20%) translateX(-75%) translateZ(-100px) scale(0.65);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(20%) translateX(250%) translateZ(-100px) scale(0.65);
    opacity: 0.7;
  }
}

/* Media Query for max-width: 576px (smaller screens) */
@media (max-width: 677px) {
  .ring.active {
    transform: translateY(0%) translateX(100%) scale(1.25);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(20%) translateX(-25%) translateZ(-100px) scale(0.7);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(20%) translateX(210%) translateZ(-100px) scale(0.7);
    opacity: 0.7;
  }
}

@media (max-width: 576px) {
  .ring.active {
    transform: translateY(-30%) translateX(100%) scale(1.1);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(-30%) translateX(-25%) translateZ(-100px) scale(0.7);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(-30%) translateX(210%) translateZ(-100px) scale(0.7);
    opacity: 0.7;
  }
}

@media (max-width: 450px) {
  .ring.active {
    transform: translateY(-50%) translateX(70%) scale(0.9);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .ring.left {
    transform: translateY(-50%) translateX(-25%) translateZ(-100px) scale(0.6);
    opacity: 0.7;
  }

  .ring.right {
    transform: translateY(-50%) translateX(150%) translateZ(-100px) scale(0.6);
    opacity: 0.7;
  }
}

.ring-font {
  font-size: 5rem;
  opacity: 0.1;
  min-width: 1000px;
  text-align: center;
}

.ring-des {
  min-width: 600px;
}
